<h2>Search an item</h2>
<form action="/items" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>" >
  <button type="submit">Search</button>
</form>
<br>
<% items.forEach(item => { %>
  <div><%= item.name %></div>
  <a href="/items/<%= item.id %>">View</a>
  <a href="/items/<%= item.id %>/edit">Edit</a>
  <%- include('../elements/deleteForm', { url : `/items/${item.id}`}) %>

<% }) %>
