<h2><%= box.title %></h2>
<div>Name: </div>
<div>Prepared Date: <%= box.addedDate.toDateString() %></div>

<div>
    <img src="<%= box.coverImagePath %>">
    <div>
      <a href="/boxes/<%= box.id %>/edit">Edit</a>
      <%- include('../elements/deleteForm', { url: `/box/${box.id}` }) %>
      <a href="/items/<%= box.author.id %>">View Author</a>
    </div>
  </div>
  <div>
    <div>Author:</div>


    <div>Description:</div>
    <div><%= box.description %></div>
  </div>
</div>
